@charset 'utf-8';

/*
  source code boxes
*/
pre.tagexample
{
  border: 1px solid blue;
  background-color: #eeeeee;
  padding: 10px;
  page-break-inside: avoid;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  position: relative;
  font-size: 14px;
}

pre.phpcode
{
  border: 1px solid red;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eeeeee;
  page-break-inside: avoid;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  position: relative;
  font-size: 14px;
}

pre.filesource < pre.phpcode
{
   border: 1px solid blue;
}

strong
{
   font-weight: bold;
}

h3
{
   font-size: 18px;
   margin-bottom: 5px;
}