@charset 'utf-8';

/* tag and php source code boxes */
pre.tagexample, pre.phpcode
{
  border: 1px solid #83BEF1;
  background-color: #efefef;
  padding: 10px;
  page-break-inside: avoid;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  position: relative;
  font-size: 14px;
}


h2
{
   color: black;
   font-size: 10px;
}
strong
{
   font-weight: bold;
}

h3
{
   font-size: 18px;
   margin-bottom: 5px;
}