RewriteEngine on
RewriteCond %{REQUEST_URI} !^(\/frontend) [NC]
RewriteRule !((index|helloworld|indexer)\.php|\.css|\.jpe?g|\.png|\.gif|\.zip|\.rar|\.ico)$ /index.php?query=%{REQUEST_URI}&%{QUERY_STRING} [NC,L]