/**
 * CSS file for styling buttons
 */
.downloadButton {
    background: #9bd257 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button.png') repeat-x;
    color: #000 !important;
    display: block;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: -0.1em 0.2em 0.5em rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -0.1em 0.2em 0.5em rgba(0, 0, 0, 0.2);
    box-shadow: -0.1em 0.2em 0.5em rgba(0, 0, 0, 0.2);
    font-size: 1.3em;
    font-weight: bold;
    margin: 1.2em auto;
    padding: .4em .5em;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
    width: 10em;
}

.downloadButton.experimental {
    background: #ffd450 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button-experimental.png') repeat-x;
}
.downloadButton:hover, .downloadButton:focus {
    background: #acd975 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button-hover.png') repeat-x;
}
.downloadButton.experimental:hover, .downloadButton.experimental:focus {
    background: #ffdc73 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button-experimental-hover.png') repeat-x;
}
    .downloadButton .buttonContent {
        background: url('http://media.adventure-php-framework.org/img/arrow.png') center left no-repeat;
        display: block;
        min-height: 32px;
        min-width: 28px;
        padding: 0 0 0 40px;
    }
    .downloadButton .file {
        display: block;
        font-size: .5em;
        font-style: italic;
        font-weight: normal;
    }