/**
 * CSS file for styling buttons
 */
.downloadButton {
    background: #9bd257 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button.png') repeat-x;
    color: #000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: .1em .1em .6em rgba(0, 0, 0, .4);
    -webkit-box-shadow: .1em .1em .6em rgba(0, 0, 0, .4);
    box-shadow: 0 -.1em .1em .1em .6em rgba(0, 0, 0, .4);
    margin: 1.5em auto;
    padding: .5em .6em;
    width: 13em;
}
.downloadButton.experimental {
    background: #ffd450 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button-experimental.png') repeat-x;
}
.downloadButton:hover, .downloadButton:focus {
    background: #acd975 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button-hover.png') repeat-x;
}
.downloadButton.experimental:hover, .downloadButton.experimental:focus {
    background: #ffdc73 url('http://media.adventure-php-framework.org/img/backgrounds/buttons/download-button-experimental-hover.png') repeat-x;
}
.downloadButton:active {
    position: relative;
    left: 1px;
    top: 1px;
}
    .downloadButton a {
        background: url('http://media.adventure-php-framework.org/img/arrow.png') center left no-repeat !important;
        color: #000 !important;
        display: block;
        font-size: 1.3em;
        font-weight: bold;
        padding: 0 0 0 40px !important;
        text-decoration: none !important;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, .8);
    }
    .downloadButton a:active {
        position: static;
        left: 0;
        top: 0;
    }
        .downloadButton .file {
            display: block;
            font-size: .5em;
            font-style: italic;
            font-weight: normal;
        }