.cm--list-item {
    border-bottom: 1px solid #0a437c;
    margin: .5em 0 0 1em;
    padding-bottom: .3em;
}
.cm--list-item-head-num {
     text-align: right;
    font-style: italic;
    color: rgb(10, 67, 124);
    font-weight: bold;
    font-size: 2em;
}
.cm--list-head-date {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    margin-bottom: 0.3em;
}
.cm--list-item-head-date {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    margin-bottom: .3em;
}
.cm--create-form input.apf-form-error[type='text'],
.cm--create-form textarea.apf-form-error {
   border-color: #900 !important;
}