.contact-form .error-container li {
   color: red;
}
.contact-form .error-container {
   border: 2px solid #900;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   border: 2px solid #fb3;
   color: #333;
   margin: 1em 0;
   min-height: 3em;
   padding: 10px 10px 10px 68px;
   background: #fee url(http://media.adventure-php-framework.org/img/icons/err-box.png) no-repeat scroll 10px 10px;
   border-color: #900;
}
.contact-form .error-container ul {
   margin: 0 0 0 1em;
}
.contact-form .error-container li {
   color: black;
}
.contact-form form {
   margin: 1.3em 0 1.3em 2em;
}
.contact-form label {
   display: block;
   font-size: 0.8em;
   margin: .6em 0 .1em 0;
}
.contact-form input, .contact-form textarea {
   width: 30em;
}
.contact-form input.apf-form-error[type='text'] {
   border-color: #900 !important;
}
.contact-form textarea.apf-form-error {
   border-color: #900 !important;
}
.contact-form select {
   width: 30.4em;
}
.contact-form input[type="submit"], .contact-form input[type="button"] {
   width: auto;
}
.contact-form .captcha img {
   float: left;
   margin-right: 0.8em;
}
.contact-form .captcha input {
   width: 10em;
}
.contact-form .captcha:after {
   clear: both;
   content: " ";
   display: block;
   height: 0;
   margin-bottom: 0.6em;
   visibility: hidden;
}
.contact-form .buttonbox {
   font-size: 0.9em;
   text-align: right;
   width: 30em;
}