@charset 'utf-8';


/* tag and php source code boxes */
pre.tagexample, pre.phpcode
{
  border: 1px solid #83BEF1;
  background-color: #efefef;
  padding: 10px;
  page-break-inside: avoid;
  overflow: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  position: relative;
  font-size: 14px;
}


/* headings */
h2
{
   font-size: 24px;
	padding-bottom: 10px;
}

h3
{
   font-size: 18px;
   margin-bottom: 5px;
}

h4, h5, h6
{
   font-size: 14px;
   margin-bottom: 5px;
	font-style: italic;
}


/* standard font variants */
strong
{
   font-weight: bold;
}

em
{
   font-style: italic;
}


/* content lists */
div > ul, li > ul
{
   list-style-type: disc;
	margin-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

li > ol, div > ol
{
	list-style-type: decimal;
	margin-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* quicknavi list */


/* quicknavi list */
#doku_menu_content > ol
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* form fields */
.eingabe_feld
{
	border: 1px solid black;
	background-color: #efefef;
}

/* news page special styles*/
.newfunction
{
   font-size: 14px;
   font-weight: bold;
   color: #777BB4;
}
.newfunction17
{
   font-size: 14px;
   font-weight: bold;
   color: #CC6600;
}
.section
{
   border: 1px solid #83BEF1;
   background-color: #efefef;
   margin: 10px;
   padding: 10px;
   font-size: 13px;
}
