@charset 'utf-8';

/*
Font-Styling
--------------------------------------------------------
*/

/* Small-Menu */

div#small_menu a {
	color: white;
	text-decoration: none;
}

div#small_menu a:hover {
	text-decoration: underline;
}

/* Top-Menu */

#top li, #top li a {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

#top li a:hover {
	text-decoration: underline;
}

/* Info Boxes */

.i_box {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
}

.i_box h3 {
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
}


/* content_boxes */

div#content_boxes {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

div#content_boxes > div > div > h3 > span {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
}

/* teser_small */
div#teaser_small {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
}

div#teaser_small a {
	color: white;
	text-decoration: none;
}

div#teaser_small a:hover {
	text-decoration: underline;
}

/* doku_page */

div#doku_page {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #333;
}

div#doku_page h2 {
	font-size: 20px;
	margin-bottom: 5px;
}

div#doku_menu_content a {
	display: block;
	height: 31px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: white;
	padding-top: 5px;
	padding-left: 10px;
}

div#doku_menu_content a:hover {
	text-decoration: underline;
}

div#doku_menu_content a.dm_active {
	background: url(http://media.adventure-php-framework.org/img/doku_page_menu_item_active_bg.png) top left no-repeat;
}