@font-face {
    font-family: 'apf-icons';
    src: url('/media/fonts/apf-icons.eot'), url('/media/fonts/apf-icons.eot?#iefix') format('embedded-opentype'), url('/media/fonts/apf-icons.woff') format('woff'), url('/media/fonts/apf-icons.ttf') format('truetype'), url('/media/fonts/apf-icons.svg#apf-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}