/**
 * Main page specific CSS rules
 */

#MainPageAbstract {
    background: url('../img/illustrations/orca.png') no-repeat;
    min-height: 302px;
    padding-left: 230px;
}
    #MainPageAbstract h2 {
        font-size: 4em;
        margin: .01em 0;
    }
    #MainPageAbstract ul {
        margin: -1em auto 1em auto;
        width: 10em;
    }
        #MainPageAbstract ul a {
            font-size: .8em;
        }

#MainPageNews {
    border-bottom: .09em solid #0a437c;
    margin-top: 1.5em;
}
.newsitem {
    clear: left;
    margin: .5em 0 1.5em 0;
    padding-left: 14.5em;
}
.newsitem img {
    display: block;
    float: left;
    margin-left: -14.5em;
    height: auto;
    width: 12.5em;
}
    .newsitem h3 {
        font-size: 1.2em;
    }
    .newsitem .date {
        font-size: .8em;
        font-style: italic;
        margin: .5em 0;
    }