/**
 * Print stylesheet for Adventure PHP Framework
 */

* {
    position: static !important;
    width: auto !important;
}
html, body {
    background: #fff;
}
    h1, h2, h3, h4, h5, h6 {
        border-color: #000 !important;
        color: #000 !important;
    }
    a {
        text-decoration: underline !important;
    }

#Wrapper {
    margin: 0;
    max-width: none;
}
    #Header {
        background: none;
        color: #000;
        height: auto;
        width: auto;
    }
        #Header #LanguageBox {
            display: none;
        }
    
    #Navigation {
        display: none;
    }
    #SidebarWrapper {
        display: none;
    }
    #MainPageAbstract {
        background: none;
        min-height: 0;
        padding-left: 0;
    }
        #MainPageAbstract ul {
            margin: -1em auto 1em 2em;
        }
    
    #Footer {
        background: none;
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        clear: left !important;
        color: #000;
    }
        #Footer a {
            color: #000 !important;
            font-weight: normal !important;
        }
        #Footer #Footer-Links, #Footer #Footer-Links * {
            float: none !important;
            display: none;
        }
        #Footer #Footer-Legal {
            float: none;
            text-align: center;
        }


.downloadButton {
    background: none !important;
    border: 2px solid #000 !important;
    color: #000 !important;
    margin: 1.5em 0 !important;
    width: 13em !important;
}
    .downloadButton a {
        background: none;
        padding-left: 0;
    }