@charset 'utf-8';

* { background: #fff; color: #000; }
html { font: 100%/1.5 georgia, serif; }

div#small_menu, div#top > form > ul, div#teaser { display: none; }

a {
	color: blue;
	text-decoration: none;
}

a[href]:after {
	content: " [" attr(href) "] ";
	color: #999;
	font-size: 90%;
	font-style: italic;
}

ul#info_boxes {
	width: 908px;
	height: 180px;
	margin-top: 10px;
}

.i_box {
	float: left;
	width: 302px;
}

div#page, h1 {
	width: 70%;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}