@charset 'utf-8';
@import url(reset.css);
@import url(lightbox.css);

/* ----------------------------------------------------- Page layout */

body {
	background-color: #fff;
	color: #fefefe;
}

/*
Head-Bereich
--------------------------------------------------------
*/

div#head {
	width: 100%;
	height: 86px;
	background-image: url(http://media.adventure-php-framework.org/img/header_bg.png);
}

div#top {
	width: 918px;
	margin: auto;
}

/* Schriftzug "Adventure PHP Framework" */
div#top h1 {
	position: relative;
	top: 20px;
	width: 251px;
	height: 21px;
	background-image: url(http://media.adventure-php-framework.org/img/adventure_php_framework.png);
	text-indent: -9999px;
}

div#small_menu {
	float: right;
	position: relative;
	left: -20px;
}

/*
Top-Menu
--------------------------------------------------------
*/

div#top ul {
	width: 918px;
	height: 31px;
	margin-top: 34px;
	margin-left: 2px;
}

div#top li {
	float: left;
	background: url(http://media.adventure-php-framework.org/img/nav_bg2.png) top repeat-x;
}

div#top li a {
	display: block;
	float: left;
	height: 31px;
	background: url(http://media.adventure-php-framework.org/img/nav_bg-right.png) top right no-repeat;
}

div#top li a span {
	display: block;
	height: 31px;
	padding: 7px 20px;
	background: url(http://media.adventure-php-framework.org/img/nav_bg-left.png) top left no-repeat;
}

div#top span.menu_top_last {
	width: 226px;
	width: 220px;
}

div#top input {
	position: relative;
	top: -2px;
	left: 10px;
}

/*
Page-Bereich
-----------------------------------------------------------
*/

div#page {
	width: 918px;
	min-height: 85%;
	margin: auto;
	padding-left: 4px;
	padding-bottom: 5px;
	background: url(http://media.adventure-php-framework.org/img/doku_bg.png) top left repeat-y;
}

/*
Teaser
--------------------------------------------------------
*/

div#teaser {
	width: 907px;
	height: 178px;
	background-image: url(http://media.adventure-php-framework.org/img/teaser_bg.png);
}

div#teaser_top {
	width: 908px;
	height: 5px;
	background: url(http://media.adventure-php-framework.org/img/teaser_top.png);
}

div#teaser_bottom {
	width: 907px;
	height: 8px;
	margin-top: 87px;
	background: url(http://media.adventure-php-framework.org/img/teaser_bottom.png);
}

/* Schriftzug "the generic way! ..." */
#teaser h2 {
	position: relative;
	width: 332px;
	height: 86px;
	top: 40px;
	left: 300px;
	background-image: url(http://media.adventure-php-framework.org/img/the_generic_way.png);
	text-indent: -9999px;
}

/* Logo */
#teaser .logo {
	position: relative;
	top: -90px;
	left: -60px;
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

/*
Teaser-Menu (Quickstart)
--------------------------------------------------------
*/

#teaser ul {
	position: relative;
	top: 50px;
	left: 10px;
	float: left;
}

#teaser li {
	float: left;
}

/**
 * quickstart: the first image has a wrong position!
 * fix it with relative positioning
 */
#teaser .quickstart {
	position: relative;
	top: -2px;
}

/*
Info-Boxes
--------------------------------------------------------
*/

ul#info_boxes {
	width: 908px;
	height: 180px;
	margin-top: 10px;
}

.i_box {
	float: left;
	width: 302px;
}

.i_box h3 {
	padding: 10px 5px 9px 10px;
	background: url(http://media.adventure-php-framework.org/img/info_box-head.png) top left no-repeat;
}

.i_box ul {
	padding: 1px 5px 1px 10px;
	list-style: inside;
	list-style-image: url(http://media.adventure-php-framework.org/img/list-image.png);
}

li.i_box > ul > li {
	padding: 2px;
}

li.i_box > ul {
	min-height: 100px;

	background: url(http://media.adventure-php-framework.org/img/info_box-bg.png) top left no-repeat;
}

.i_box p {
	margin-left: 18px;
}

.i_box_bottom {
	width: 302px;
	height: 8px;
	background: url(http://media.adventure-php-framework.org/img/info_box-bottom.png);
}

/**
 * fixposition: the last info_box has a wrong position!
 * fix it with relative positioning
 */
.fixposition {
	position: relative;
	top: -83px;
}

/*
Content-Boxes
--------------------------------------------------------
*/

div#content_boxes {
	position: relative;
	top: -80px;
	width: 900px;
	height: 400px;
}


/* -- #left_box -- */

div#left_box {
	float: left;
	width: 600px;
}

div#left_box_top {
	height: 2px;
	background: url(http://media.adventure-php-framework.org/img/content_box_left-top.png) top no-repeat;
}

div#left_box_content {
	padding-left: 5px;
	padding-right: 5px;
	background: url(http://media.adventure-php-framework.org/img/content_box_left-bg.png) left top repeat-y;
}

div#left_box_bottom {
	height: 5px;
	background: url(http://media.adventure-php-framework.org/img/content_box_left-bottom.png) top no-repeat;
}


/* the "inner" box => tab content */

div#left_box_content > div {
	z-index: 0;
}

div#left_box_content > div >  div.top {
	position: relative;
	top: 32px;
	height: 2px;
	background: url(http://media.adventure-php-framework.org/img/tab_left_top.png) left top no-repeat;
	z-index: 1;
}

div#left_box_content > div > p {
	margin-top: 32px;
	padding-left: 10px;
	padding-bottom: 5px;
	background: url(http://media.adventure-php-framework.org/img/tab_left_bg.png) left top repeat-y;
}

div#left_box_content > div >  div.bottom {
	height: 3px;
	background: url(http://media.adventure-php-framework.org/img/tab_left_bottom.png) left top no-repeat;
}



/* -- #right_box -- */

div#right_box {
	float: left;
	width: 297px;
	margin-left: 3px;
}

div#right_box_top {
	height: 4px;
	background: url(http://media.adventure-php-framework.org/img/content_box_right-top.png) top no-repeat;
}

div#right_box_content {
	padding-left: 4px;
	background: url(http://media.adventure-php-framework.org/img/content_box_right-bg.png) top repeat-y;
}

div#right_box_bottom {
	height: 4px;
	background: url(http://media.adventure-php-framework.org/img/content_box_right-bottom.png) top no-repeat;
}


/* the "inner" box => tab content */

div#right_box_content > div {
	z-index: 0;
}

div#right_box_content > div >  div.top {
	position: relative;
	top: 32px;
	height: 2px;
	background: url(http://media.adventure-php-framework.org/img/tab_right_top.png) left top no-repeat;
	z-index: 1;
}

div#right_box_content > div > p {
	margin-top: 32px;
	padding-left: 10px;
	padding-bottom: 5px;
	background: url(http://media.adventure-php-framework.org/img/tab_right_bg.png) left top repeat-y;
}

div#right_box_content > div >  div.bottom {
	height: 3px;
	background: url(http://media.adventure-php-framework.org/img/tab_right_bottom.png) left top no-repeat;
}



/* Tab-Headings FOR BOTH content_boxes */

div#content_boxes > div > div > h3 {
	position: relative;
	float: left;
	height: 32px;
	padding-top: 5px;
	padding-right: 5px;
	z-index: 10;
	cursor: pointer;
}

div#content_boxes > div > div > h3 > span {
	display: block;
	height: 32px;
	position: relative;
	top: -8px;
	padding: 10px 5px 0px 10px;
}

div#content_boxes > div > div > h3.active {
	background: url(http://media.adventure-php-framework.org/img/tab_right.png) right no-repeat;
}

div#content_boxes > div > div > h3.active > span {
	background: url(http://media.adventure-php-framework.org/img/tab_left.png) left no-repeat;
}


/*
Teaser_small
--------------------------------------------------------
*/

div#teaser_small {
	width: 909px;
	height: 42px;
	background: url(http://media.adventure-php-framework.org/img/teaser_top_small.png) top left no-repeat;
}

div#teaser_small > span {
	display: block;
	padding: 5px;
	padding-top: 13px;
}


/*
Doku_spacer
--------------------------------------------------------
*/

div#doku_spacer {
	height: 5px;
}


/*
Doku_page
--------------------------------------------------------
*/

div#doku_page {
	float: left;
	width: 600px;
}

div#doku_page_top {
	height: 11px;
	background: url(http://media.adventure-php-framework.org/img/doku_page_top.png) top left no-repeat;
}

div#doku_page_content {
	background: url(http://media.adventure-php-framework.org/img/doku_page_bg.png) top left repeat-y;
	padding-left: 20px;
	padding-right: 10px;
	color: black;
}

div#doku_page_bottom {
	height: 9px;
	background: url(http://media.adventure-php-framework.org/img/doku_page_bottom.png) top left no-repeat;
}


/*
Doku_menu
--------------------------------------------------------
*/

div#doku_menu {
	float: right;
	width: 304px;
	color: black;
	margin-right: 11px;
}

div#doku_menu_top {
	height: 9px;
	background: url(http://media.adventure-php-framework.org/img/doku_menu_top.png) top left no-repeat;
}

div#doku_menu_content {
	background: url(http://media.adventure-php-framework.org/img/doku_menu_bg.png) top left repeat-y;
}

div#doku_menu_bottom {
	height: 10px;
	background: url(http://media.adventure-php-framework.org/img/doku_menu_bottom.png) top left no-repeat;
}

div#doku_menu_content > ul {
	width: 242px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}