.listing .sh_sourceCode .sh_keyword {
    color: #008;
    font-weight: bold;
}

.listing .sh_sourceCode .sh_controller {
    color: #5f9ea0;
    font-weight: bold;
    font-style: italic;
}

.listing .sh_sourceCode .sh_classname {
    color: #333;
    font-weight: bold;
}

.listing .sh_sourceCode .sh_string {
    color: #811800;
}

.listing .sh_sourceCode .sh_comment {
    color: #777;
    font-style: italic;
}

.listing .sh_sourceCode .sh_number {
    color: #893bff;
}

.listing .sh_sourceCode .sh_preproc {
    color: #347c17;
    font-weight: bold;
}

.listing .sh_sourceCode .sh_symbol {
    color: #666;
}

.listing .sh_sourceCode .sh_function {
    color: #000;
}

.listing .sh_sourceCode .sh_variable {
    color: #028044;
}

.listing .sh_sourceCode .sh_cbracket {
    color: #666;
}

.listing .sh_sourceCode .sh_regexp {
    color: #5f9ea0;
}

.listing .sh_sourceCode .sh_todo {
    font-weight: bold;
    background-color: #900;
}

.listing .sh_sourceCode .sh_url {
    color: #0a437c;
    text-decoration: underline;
}

.listing .sh_sourceCode .sh_selector {
    color: #893bff;
}

.listing .sh_sourceCode .sh_property {
    color: #008;
}

.listing .sh_sourceCode .sh_value {
    color: #028044;
    font-style: italic;
}

.listing.xml .sh_sourceCode .sh_type,
.listing.html .sh_sourceCode .sh_type,
.listing.apf-xml .sh_sourceCode .sh_type {
    color: #00f;
}

.listing.xml .sh_sourceCode .sh_string,
.listing.html .sh_sourceCode .sh_string,
.listing.apf-xml .sh_sourceCode .sh_string {
    color: #028044;
}

.listing .sh_sourceCode .sh_date {
    color: #00f;
    font-weight: bold;
}

.listing .sh_sourceCode .sh_time,
.listing .sh_sourceCode .sh_file {
    color: #008;
    font-weight: bold;
}

.listing .sh_sourceCode .sh_ip,
.listing .sh_sourceCode .sh_name {
    color: #f88017;
}

.listing .sh_sourceCode .sh_oldfile {
    color: #f88017;
}

.listing .sh_sourceCode .sh_newfile {
    color: #347235;
}

.listing .sh_sourceCode .sh_difflines {
    color: #566d7e;
}

.listing.ini .sh_sourceCode .sh_section {
    color: #000088;
    font-weight: bold
}

.listing.ini .sh_sourceCode .sh_symbol {
    color: #666666;
}

.listing.ini .sh_sourceCode .sh_type {
    color: #028044;
}
