/**
 * Default stylesheet for sidebar.
 */

#Sidebar-APFNews {
    display: block;
    font-size: 1em;
    position: relative;
    margin: 1.6em 0;
    text-shadow: #999 1px 1px 1px;
}
#Sidebar-APFNews:before {
    background: url('../img/backgrounds/half-feed-icon.png') top left no-repeat;
    content: ' ';
    display: block;
    height: 86px;
    left: -48px;
    margin: -1em 0 0 -1.1em;
    position: absolute;
    width: 48px;
}
    #Sidebar-APFNews span {
        font-size: 1.5em;
    }
#Sidebar-Releases {
    border-top: 2px solid #7f7f7f;
    border-bottom: 2px solid #7f7f7f;
    font-size: 1em;
    padding: .8em 0;
}
    #Sidebar-Releases ul {
        margin: .3em 0 1.5em 1em;
    }
#Sidebar-Search,
#Sidebar-PlusOne,
#Sidebar-SocialNetworks {
    border-bottom: 2px solid #7f7f7f;
    padding: 1.5em 0;
}
    #Sidebar-Search label {
        display: block;
    }
#Sidebar-SocialNetworks {
    padding: 1.5em 0;
}
    #Sidebar-SocialNetworks span,
    #Sidebar-PlusOne span,
    #Sidebar-PHPStorm span {
        display: block;
        margin: .3em 0;
    }
    #Sidebar-SocialNetworks img {
        height: 32px;
        width: 32px;
    }
    #Sidebar-SocialNetworks-Twitter {
        background: url('../img/social/twitter.png') left center no-repeat;
        min-height: 64px;
        min-width: 64px;
        margin: 1.2em 0;
        padding-left: 70px;
        margin-bottom: 0;
    }
        #Sidebar-SocialNetworks-Twitter a {
            font-size: 1.2em;
            font-weight: bold;
        }

#Sidebar-PlusOne {
   padding: .6em 0;
}

#Sidebar-PHPStorm {
   padding: .6em 0;
}

#Sidebar-PHPStorm p {
   font-size: 0.8em;
   margin: .4em 0 1em 0;
}