RewriteEngine on

# Eliminate www subdomain
RewriteCond %{HTTP_HOST} ^www [NC]
RewriteRule ^(.*)$ http://adventure-php-framework.org/$1 [R=301,L]

# English page shortcut
RewriteCond %{REQUEST_URI} ^/en$ [NC]
RewriteRule .* /Page/001-Home [R=301,NC,L]

# Rewrite all traffic to main page except forum, tracker, and wiki.
# DEV only:
RewriteCond %{REQUEST_URI} !(sitemap|setup_wizard)\.php [NC]
#
RewriteCond %{REQUEST_URI} !^/media [NC]
RewriteCond %{REQUEST_URI} !(\.css|\.jpe?g|\.png|\.gif|\.zip|\.rar|\.ico|\.txt)$ [NC]
RewriteCond %{REQUEST_URI} !(sitemap\.xml|google0530241f73e9cc6c\.html|google5d5e6e05ed6af3ff\.html)$ [NC]
RewriteCond %{REQUEST_URI} !^/forum [NC]
RewriteCond %{REQUEST_URI} !^/wiki [NC]
RewriteCond %{REQUEST_URI} !^/tracker [NC]
RewriteCond %{REQUEST_URI} !/index\.php$ [NC] # exclude self to avoid enless loops
RewriteRule .* /www/index.php?apf-rewritten-query=%{REQUEST_URI}&%{QUERY_STRING} [NC,L]

# Serve special files via main domain even if located in sub-folder
RewriteCond %{REQUEST_URI} ^/sitemap\.xml
RewriteRule .* /www/sitemap.xml [NC,L]

RewriteCond %{REQUEST_URI} ^/sitemap\.php
RewriteRule .* /www/sitemap.php [NC,L]

RewriteCond %{REQUEST_URI} ^/setup_wizard\.php
RewriteRule .* /www/setup_wizard.php [NC,L]

RewriteCond %{REQUEST_URI} ^/google0530241f73e9cc6c\.html
RewriteRule .* /www/google0530241f73e9cc6c.html [NC,L]

RewriteCond %{REQUEST_URI} ^/google5d5e6e05ed6af3ff\.html
RewriteRule .* /www/google5d5e6e05ed6af3ff.html [NC,L]

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript