<@controller
   class="DEV\wizard\controller\DatabaseController"
@>
<p>
   <a href="?">&lt;&lt; Back to main page</a>
</p>
<h2>Adapt database configuration</h2>
<div>
   <html:form name="database-adaption">
      <p>
         The database connection configuration needs to be adapted to your local setup.  Installation of <em>forum</em>,
         <em>wiki</em>, and <em>tracker</em> is not required. You can leave fields blank. Please fill in the
         following form to complete this step:
      </p>
      <div class="section">
         <p>
            Host, port, user, and password is to be specified for all connections. In case you intend to use different
            users, please manually adapt <em>APF/config/core/database/sites/apf/DEFAULT_connections.ini</em>.
         </p>
         <p>
            <label for="database-host">Database host (for all connections):</label>
            <form:text id="database-host" name="database-host" />
         </p>
         <p>
            <label for="database-port">Database port (for all connections):</label>
            <form:text id="database-port" name="database-port" />
         </p>
         <p>
            <label for="database-user">Database user (for all connections):</label>
            <form:text id="database-user" name="database-user" />
         </p>
         <p>
            <label for="database-pass">Database password (for all connections):</label>
            <form:text id="database-pass" name="database-pass" />
         </p>
      </div>
      <div class="section">
         <p>
            Database <em>Comments</em> stores user comments displayed at the end of the page.
         </p>
         <p>
            <label for="database-name-general">Database name for general connection:</label>
            <form:text id="database-name-general" name="database-name-general" />
         </p>
      </div>
      <div class="section">
         <p>
            Database <em>FulltextSearch</em> stores the search index as well as the article list used for link generation.
         </p>
         <p>
            <label for="database-name-search">Database name for search index:</label>
            <form:text id="database-name-search" name="database-name-search" />
         </p>
      </div>
      <div class="section">
         <p>
            Database <em>Forum</em> hosts a local PHPBB installation (optional).
         </p>
         <p>
            <label for="database-name-forum">Database name for forum:</label>
            <form:text id="database-name-forum" name="database-name-forum" />
         </p>
      </div>
      <div class="section">
         <p>
            Database <em>Wiki</em> hosts a local WikiMedia installation (optional).
         </p>
         <p>
            <label for="database-name-wiki">Database name for wiki:</label>
            <form:text id="database-name-wiki" name="database-name-wiki" />
         </p>
      </div>
      <div class="section">
         <p>
            Database <em>Tracker</em> hosts a local Mantis installation (optional).
         </p>
         <p>
            <label for="database-name-tracker">Database name for tracker:</label>
            <form:text id="database-name-tracker" name="database-name-tracker" />
         </p>
      </div>
      <div class="section">
         <p>
            Database <em>Stat</em> stores page statistics locally (optional).
         </p>
         <p>
            <label for="database-name-stat">Database name for statistics:</label>
            <form:text id="database-name-stat" name="database-name-stat" />
         </p>
      </div>
      <p>
         
         <form:button name="save" value="Save" />
         <form:addvalidator
            class="APF\tools\form\validator\TextLengthValidator"
            button="save"
            control="database-host|database-user|database-name-general|database-name-search|database-name-stat"
         />
      </p>
   </html:form>
   <html:template name="success">
      <p class="success">
         Your <em>database configuration</em> has been saved successfully. You can now proceed with <a href="?page=setup">step 3</a>.
      </p>
   </html:template>
</div>