<@controller
   class="DEV\wizard\controller\IndexController"
@>
<p>
   <a href="?">&lt;&lt; Back to main page</a>
</p>
<h2>Adapt index.php</h2>
<div>
   <core:addtaglib class="APF\tools\form\taglib\HtmlFormTag" prefix="html" name="form" />
   <html:form name="index-adaption">
      <p>
         The first step is to adapt the <em>index.php</em> to your local setup and needs. Please fill in the
         following form to complete this step:
      </p>
      <form:listener control="rel-folder">
         <p class="error">
            The given folder is invalid or it does not exist! Please check your input!
         </p>
      </form:listener>
      <div class="section">
         <p>
            The APF documentation pages displays APF release under <em>Downloads</em> and on the sidebar. Fur this
            reason, the page requires a local folder containing APF releases. Please specify any folder on your local
            disk and the setup will create stub folders for you.
         </p>
         <p>
            <label for="rel-folder">Releases folder:</label>
            <form:text id="rel-folder" name="rel-folder" />
            <form:addvalidator
               class="DEV\wizard\validator\FolderExistsValidator"
               control="rel-folder"
               button="start"
            />
         </p>
      </div>
      <p>
         <form:button name="start" value="Start" />
      </p>
   </html:form>
   <html:template name="success">
      <p class="success">
         Your <em>index.php</em> has been updated successfully. You can now proceed with <a href="?page=database">step 2</a>.
      </p>
   </html:template>
</div>