<h2>Welcome to the APF documentation page setup wizard</h2>
<p>
   This is a wizard to setup the APF documentation page on your local machine.
</p>
<p>
   To get your setup done, please go through the following steps as they appear. In case your setup has been
   completed already, you may also execute certain stept to your need (e.g. refresh search index).
</p>
<ul>
   <li>
      <strong>Adapt index.php</strong>: since the <em>index.php</em> file is prepared for production use and does
      not fit your local environment, please execute <a href="?page=index">this wizard</a> to adapt it to your needs.
   </li>
   <li>
      <strong>Adapt database configuration</strong>: the database configuration in SVN is not prepared for your local
      environment. Hence, please use <a href="?page=database">the database wizard</a> change settings as desired.
   </li>
</ul>