<h2>Welcome to the APF documentation page setup wizard</h2>
<p>
   This is a wizard to setup the APF documentation page on your local machine.
</p>
<p>
   To get your setup done, please go through the following steps as they appear. In case your setup has been
   completed already, you may also execute certain stept to your need (e.g. refresh search index).
</p>
<ul>
   <li>
      <strong>Adapt index.php</strong>: since the <em>index.php</em> file is prepared for production use and does
      not fit your local environment, please execute <a href="?page=index">this wizard</a> to adapt it to your needs.
   </li>
   <li>
      <strong>Adapt database configuration</strong>: the database configuration in SVN is not prepared for your local
      environment. Hence, please use <a href="?page=database">the database configuration wizard</a> change settings as desired.
   </li>
   <li>
      <strong>Setup databases</strong>: once you've configured all databases it's time to setup all necessary tables.
      In case you haven't completed this task yet, please start the <a href="?page=setup">setup wizard</a>.
   </li>
   <li>
      <strong>Initialize search index</strong>: the APF documentation page relies on a database-based search index to
      generate URLs. In case you want to setup the page running on your local machine or you've added pages, you
      can re-create or update the index <a href="?page=search">here</a>.
   </li>
</ul>
<p>
   In case of any questions, please refer to Wiki page <a href="http://wiki.adventure-php-framework.org/Lokales_Setup_APF-Doku-Seite/en">Local setup of the APF docs page</a>.
</p>