<@controller
   class="DEV\wizard\controller\SetupController"
@>
<p>
   <a href="?">&lt;&lt; Back to main page</a>
</p>
<h2>Setup database tables</h2>
<div>
   <html:form name="database-setup">
      <p>
         Using this wizard you can setup the table layout for all databases configured within the
         <a href="?page=database">database configuration wizard</a>. You can either create tables for all
         databases (recommended for initial setup) or just one (recommended for partial setup or DDL changes).
      </p>
      <div class="section">
         <p>
            Please choose which database to initialize. You may either choose <em>all</em> or a particular one.
            Database setup is repeatable and thus creates tables only when not existing.
         </p>
         <p>
            Database <em>FulltextSearch</em> stores the search index as well as the article list used for link generation.
            Please note, that this wizard will not setup local installations of <em>Forum</em> (<em>PHPBB</em>),
            <em>Wiki</em> (<em>MediaWiki</em>), and <em>Tracker</em> (<em>Mantis</em>).
         </p>
         <p>
            <form:select name="database">
               <select:option value="all">All databases</select:option>
               <select:option value="comments">Comments (comments)</select:option>
               <select:option value="fulltext">FulltextSearch (search/url generation)</select:option>
               <select:option value="stat">Stat (statistics)</select:option>
            </form:select>
         </p>
      </div>
      <p>
         <form:button name="start" value="Start" />
      </p>
   </html:form>
   <html:template name="success">
      <p class="success">
         Your <em>database initialization</em> has been saved successfully. You can now proceed with <a href="?page=search">step 4</a>.
      </p>
   </html:template>
</div>