<@controller
class="DEV\wizard\controller\SiteMapController"
@>
<p>
   <a href="?">&lt;&lt; Back to main page</a>
</p>
<h2>Create/refresh sitemap.xml</h2>
<div>
   <html:form name="site-map-maintenance">
      <p>
         This wizard is to update the <em>sitemap.xml</em> file located in the root folder of the APF web presence.
         Please be sure to have executed the database <a href="?page=database">configuration wizard</a> and created
         the <a href="?page=search">search index</a>.
      </p>
      <p>
         <form:button name="start" value="Start" />
      </p>
   </html:form>
   <html:template name="success">
      <p class="success">
         Your <em>site map update</em> has been executed successfully. Your setup has been completed now!
      </p>
   </html:template>
   <html:template name="error">
      <p class="error">
         <em>site map</em> failed. Exception message: <strong>${exception-message}</strong>.
      </p>
   </html:template>
</div>