ExpiresActive On

ExpiresByType application/vnd.ms-fontobject A604800
ExpiresByType font/ttf A604800
ExpiresByType font/otf A604800

AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf

<FilesMatch "\.(ttf|otf|eot)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>

Header set Cache-Control "public; max-age=604800"
Header unset Etag
FileETag none