<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>
	<title>Start :: Adventure-PHP-Framework (APF)</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="css/screen.css" rel="stylesheet" media="screen" type="text/css" />
	<link href="css/fonts.css" rel="stylesheet" media="screen" type="text/css" />
	<link href="css/print.css" rel="stylesheet" media="print" type="text/css" />
	<!--[if lte IE 7]>
		<link href="css/ie7.css" rel="stylesheet" media="screen" type="text/css" />
	<![endif]-->

	<!--[if lte IE 6]>
		<link href="css/ie6.css" rel="stylesheet" media="screen" type="text/css" />
	<![endif]-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/domscript.js"></script>
</head>

<body>

	<div id="head">
		<div id="top">

			<h1>Adventure-PHP-Framework</h1>

			<div id="small_menu">
           <core:importdesign namespace="sites::apfdocupage::pres::templates::global" template="smallmenu" />
         </div>

         <core:importdesign namespace="sites::apfdocupage::pres::templates::global" template="mainnavi" />

		</div>
	</div>

	<div style="clear:both;"></div>

	<div id="page">
		<div id="teaser">
			<div id="teaser_top"></div>

         <core:importdesign namespace="sites::apfdocupage::pres::templates::perspectives::start" template="claim" />

			<div id="teaser_bottom"></div>

		</div>

		<ul id="info_boxes">
		  <li class="i_box">
		    <core:importdesign namespace="sites::apfdocupage::pres::templates::perspectives::start" template="i_box_tutorials" />
		  <div class="i_box_bottom"></div>
		  </li>
		  <li class="i_box">
          <core:importdesign namespace="sites::apfdocupage::pres::templates::perspectives::start" template="i_box_downloads" />
		    <div class="i_box_bottom"></div>
		  </li>
		  <li class="i_box fixposition">
          <core:importdesign namespace="sites::apfdocupage::pres::templates::perspectives::start" template="i_box_latest" />
		    <div class="i_box_bottom"></div>
		  </li>
		</ul>

		<div style="clear:both;"></div>

		<div id="content_boxes">
			<div id="left_box">

				<div id="left_box_top"></div>

				<div id="left_box_content">

					<h3 class="active"><span class="references">Referenzen</span></h3>
					<h3><span class="hints">Hinweis der Woche</span></h3>
					<h3><span class="backlinks">Backlinks</span></h3>


					<div id="tab-references">
						<div class="top"></div>
						<p> <br />
							Inhalt von "Referenzen". ACHTUNG immer einen Umbruch vor den Text einfügen!
							<br /> jojojo  	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojo
							<br /> jojojo  	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojo
							<br /> jojojo  	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojo
							<br /> jojojo  	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojo
							<br /> jojojo  	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojo
							<br /> jojojo  	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojo
							<br /> jojojo  	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojojo	<br /> jojo
						</p>

						<div class="bottom"></div>
					</div>

					<div id="tab-hints">
						<div class="top"></div>
						<p><br />zweiter Tab!</p>
						<div class="bottom"></div>
					</div>

					<div id="tab-backlinks">

						<div class="top"></div>
						<p><br />dritter Tab!</p>
						<div class="bottom"></div>
					</div>

				</div>

				<div id="left_box_bottom"></div>

			</div>

	    	<div id="right_box">


				<div id="right_box_top"></div>

				<div id="right_box_content">

					<h3 class="active"><span class="news">News</span></h3>
					<h3><span class="articles">Artikel</span></h3>

					<div id="tab-news">
						<div class="top"></div>
						<p><br />
							Newstab
						</p>

						<div class="bottom"></div>
					</div>

					<div id="tab-articles">
						<div class="top"></div>
						<p><br />
							Artikeltab
						</p>
						<div class="bottom"></div>
					</div>

				</div>

				<div id="right_box_bottom"></div>

			</div>
		</div>
		<div style="clear:both;"></div>
	</div>

</body>
</html>