<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>
<html:template name="Content_de">
  <h2>the generic way!</h2>
  <img src="http://media.adventure-php-framework.org/img/logo.png" class="logo" alt="APF - Adventure PHP Framework"/>
  <ul>
    <li><a href="./?Seite=073-Quickstart" title="Quickstart"><img src="http://media.adventure-php-framework.org/img/Quickstart.png" class="quickstart"/></a></li>
    <li><a href="./?Seite=074-Sandbox" title="Sandbox"><img src="http://media.adventure-php-framework.org/img/Sandbox.png" /></a></li>
    <li><a href="./?Seite=075-Security" title="Security"><img src="http://media.adventure-php-framework.org/img/Security.png" /></a></li>
  </ul>
</html:template>
<html:template name="Content_en">
  <h2>the generic way!</h2>
  <img src="http://media.adventure-php-framework.org/img/logo.png" class="logo" alt="APF - The adventure php framework"/>
  <ul>
    <li><a href="./?Page=073-Quickstart" title="Quickstart"><img src="http://media.adventure-php-framework.org/img/Quickstart.png" class="quickstart"/></a></li>
    <li><a href="./?Page=074-Sandbox" title="Sandbox"><img src="http://media.adventure-php-framework.org/img/Sandbox.png" /></a></li>
    <li><a href="./?Page=075-Security" title="Security"><img src="http://media.adventure-php-framework.org/img/Security.png" /></a></li>
  </ul>
</html:template>