<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="claim_controller" class="claim_controller" @>
<html:template name="Claim_de">
			<h2>the generic way!</h2>
			<img src="img/logo.png" class="logo" alt="APF - Adventure PHP Framework"/>
			<ul>
				<li><a href="#quickstart"><img src="img/Quickstart.png" class="quickstart"/></a></li>
				<li><a href="#anotherlink"><img src="img/Sandbox.png" /></a></li>
				<li><a href="#somelink"><img src="img/Security.png" /></a></li>
			</ul>
</html:template>
<html:template name="Claim_en">
			<h2>the generic way!</h2>
			<img src="img/logo.png" class="logo" alt="APF - The adventure php framework"/>
			<ul>
				<li><a href="#quickstart"><img src="img/Quickstart.png" class="quickstart"/></a></li>
				<li><a href="#anotherlink"><img src="img/Sandbox.png" /></a></li>
				<li><a href="#somelink"><img src="img/Security.png" /></a></li>
			</ul>
</html:template>