<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>
<html:template name="Content_de">
  <p>
    <br />
    &raquo; Seit Oktober gibt es nun die erste beta-Version der neuen Dokumentationswebseite. In den
    letzten vier Monaten wurde ein komplett neues Design entworfen und die Dokumentation teilweise
    neu geschrieben und mit weiteren Inhalten erg&auml;nzt. Wir w&uuml;rden uns &uuml;ber Feedback
    zur neuen Seite &uuml;ber das Forum sehr freuen!
    <br />
    <br />
    &raquo; Unter Downloads steht seit dem 13.09.2008 das Release 1.7-RC2 zum Download bereit! Die
    stable-Version wird in K&uuml;rze (~November) folgen.
    <br />
    <br />
    &raquo; Die letzte stable Version des Frameworks (Version 1.6) wurde am 15.06.2008 released und
    steht auf der Download-Seite bereit!
    download!
    <br />
    <br />
  </p>
</html:template>
<html:template name="Content_en">
  <p>
    <br />
    &raquo; We are proud to announce the first beta of the new documentation webpage. Within the
    last four months the page layout was completely redesigned and the documentation was partially
    rewritten or enhanced with new stuff. Feel free to give us feedback how you are thinking about
    the new page in the forum. Thanks in advance!
    <br />
    <br />
    &raquo; On the downloads page, release 1.7-RC2 is available as of sept 13th 2008! The stable
    version of the 1.7 branch will be released within a short time!
    <br />
    <br />
    &raquo; The last stable release (revision 1.6) was released on june 15th 2008 and is ready to
    download!
    <br />
    <br />
  </p>
</html:template>