<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>
<html:template name="Content_de">
  <p>
    <br />
    &raquo;  <a href="./?Seite=066-Migration-von-Version-1.6-auf-1.7" title="Migration von 1.6 auf 1.7">Migration von 1.6 auf 1.7</a>
    <br />
    &raquo; <a href="./?Seite=060-Hacking-und-das-APF" title="Hacking & das APF">Hacking & das APF</a>
    <br />
    &raquo; <a href="./?Seite=049-PHP-Frameworks-im-Test" title="PHP-Frameworks im Test">PHP-Frameworks im Test</a>
    <br />
    &raquo; <a href="http://en.adventure-php-framework.org/?Page=061-AJAX-and-the-APF" title="AJAX & the APF (englisch)">AJAX & the APF (englisch)</a>
    <br />
    &raquo; <a href="http://en.adventure-php-framework.org/?Page=079-Behind-the-site" title="Behind the site (englisch)">Behind the site (englisch)</a>
    <br />
    &raquo; <a href="http://en.adventure-php-framework.org/Page/082-RSS-delivery-with-the-APF" title="RSS delivery with the APF (english)">RSS delivery with the APF (english)</a>
    <br />
    &raquo; <a href="./?Seite=086-View-based-caching-ein-HOWTO" title="View based caching - ein HOWTO">View based caching - ein HOWTO</a>
    <br />
    &raquo; <a href="http://de.sevenload.com/videos/MrwrTXx-PHPLondon-Agavi-2008-08-07" title="Agavi vs. CakePHP / ZF" target="_blank">Agavi vs. CakePHP / ZF</a>
    <br />
    <br />
  </p>
</html:template>
<html:template name="Content_en">
  <p>
    <br />
    &raquo; <a href="./?Page=066-Migration-from-version-1.6-to-1.7" title="Migration from 1.6 to 1.7">Migration from 1.6 to 1.7</a>
    <br />
    &raquo; <a href="./?Page=061-AJAX-and-the-APF" title="AJAX & the APF">AJAX & the APF</a>
    <br />
    &raquo; <a href="./?Page=079-Behind-the-site" title="Behind the site">Behind the site</a>
    <br />
    &raquo; <a href="./?Page=082-RSS-delivery-with-the-APF" title="RSS delivery with the APF (english)">RSS delivery with the APF</a>
    <br />
    &raquo; <a href="http://en.adventure-php-framework.org/Page/086-How-to-implement-view-based-caching" title="How to implement view based caching">View based caching</a>
    <br />
    &raquo; <a href="http://de.adventure-php-framework.org/?Seite=060-Hacking-und-das-APF" title="Hacking & das APF (german)">Hacking & das APF (german)</a>
    <br />
    &raquo; <a href="http://de.adventure-php-framework.org/?Seite=049-PHP-Frameworks-im-Test" title="PHP-Frameworks im Test (german)">PHP-Frameworks im Test (german)</a>
    <br />
    &raquo; <a href="http://de.sevenload.com/videos/MrwrTXx-PHPLondon-Agavi-2008-08-07" title="Agavi vs. CakePHP / ZF" target="_blank">Agavi vs. CakePHP / ZF</a>
    <br />
    <br />
  </p>
</html:template>