<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>
<html:template name="Content_de">
  <p>
    <br />
    &raquo; Seit 01.11.2008 steht nun das Release 1.7 (stable) zur Verf&uuml;gung. Es enth&auml;lt
    zahlreiche Neuerungen und &uuml;ber 20 Bugfixes und Erweiterungen.
    <a href="./?Seite=008-Downloads#1.7" title="Wechseln Sie jetzt auf die neue Version!">Wechseln Sie jetzt auf die neue Version!</a>
    <br />
    <br />
    <br />
    &raquo; Seit Oktober gibt es nun die erste beta-Version der neuen Dokumentationswebseite. In den
    letzten vier Monaten wurde ein komplett neues Design entworfen und die Dokumentation teilweise
    neu geschrieben und mit weiteren Inhalten erg&auml;nzt. Wir w&uuml;rden uns &uuml;ber Feedback
    zur neuen Seite &uuml;ber das Forum sehr freuen!
    <br />
    <br />
    <br />
    &raquo; Weitere News k&ouml;nnen der <a href="./?Seite=001-News" title="News">News-Seite</a>
    entnommen werden.
    <br />
  </p>
</html:template>
<html:template name="Content_en">
  <p>
    <br />
    &raquo; As of november the 1st, the stable release of the 1.7 branch is available. It contains
    various new features and over 20 bugfixes or enhancements.
    <a href="./?Page=008-Downloads#1.7" title="Change to the this new version now!">Change to the this new version now!</a>
    <br />
    <br />
    <br />
    &raquo; We are proud to announce the first beta of the new documentation webpage. Within the
    last four months the page layout was completely redesigned and the documentation was partially
    rewritten or enhanced with new stuff. Feel free to give us feedback how you are thinking about
    the new page in the forum. Thanks in advance!
    <br />
    <br />
    <br />
    &raquo; Further news can be read about on the <a href="./?Page=001-News" title="News">news page</a>.
    <br />
    <br />
  </p>
</html:template>