<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>
<html:template name="Content_de">
  <p>
    <br />
    Release 1.7-RC2 zum Download bereit!
    <br />
    Release 1.6 (stable) zum  Download bereit!
    <br />
    Artikel "APF vs. Symfony" wird im Forum ver&ouml;ffentlicht!
    <br />
    <br />
  </p>
</html:template>
<html:template name="Content_en">
  <p>
    <br />
    Release 1.7-RC2 ready to download!
    <br />
    Release 1.6 (stable)  ready to download!
    <br />
    A new forum-based article ("APF vs. Symfony") is now online (german)!
    <br />
    <br />
  </p>
</html:template>