<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>
<html:template name="Content_de">
  <p>
    <br />
    Hier sehen Sie Links zu Partnerseiten, bzw. Seiten, auf denen das Projekt gelistet ist:
    <br />
    <br />
    <a href="http://www.phparchiv.de" target="_blank"><img src="http://www.phparchiv.de/button2.gif" border="0" alt="Das Adventure PHP Framework bei PHPArchiv.de" /></a>
    <strong>http://www.phparchiv.de/Entwickler_Tools/</strong>
    <br />
    <br />
    <a href="http://www.phpclasses.org" target="_blank"><img src="http://files.phpclasses.org/graphics/elephpant_logo.gif" border="0" alt="Das Adventure PHP Framework bei PHPClasses.org" /></a>
    <strong>http://www.phpclasses.org/browse/package/4262.html</strong>
    <br />
    <br />
    <a href="http://www.coolphpscripts.de" target="_blank"><img src="http://www.coolphpscripts.de/images/banner/cps5_88x31.gif" width="88" height="31" border="0" alt="Das Adventure PHP Framework bei Cool PHP Scripts" /></a>
    <strong>http://www.coolphpscripts.de/details_1343.html</strong>
    <br />
    <br />
    <a href="http://www.freshmeat.net" target="_blank"><img src="http://media.adventure-php-framework.org/content/freshmeat_net.gif" border="0" alt="Das Adventure PHP Framework bei Freshmeat.net"></a>
    <strong>http://freshmeat.net/projects/apf</strong>
    <br />
    <br />
    <a href="http://sourceforge.net" target="_blank"><img src="http://media.adventure-php-framework.org/content/sourceforge_net.png" border="0" alt="Das Adventure PHP Framework bei sourceforge.net" /></a>
    <strong>http://sourceforge.net/projects/adventurephpfra</strong>
    <br />
    <br />
    <a href="http://www.phpwelt.de" target="_blank"><img src=http://www.phpwelt.de/images/ads/button_powered_88_blau.gif border="0" alt="Das Adventure PHP Framework bei phpwelt.de" /></a>
    <strong>http://www.phpwelt.de/script_2828.php</strong>
    <br />
    <br />
  </p>
</html:template>
<html:template name="Content_en">
  <p>
    <br />
    This page shows partner sites, or web pages that list this project within there index:
    <br />
    <br />
    <a href="http://www.phparchiv.de" target="_blank"><img src="http://www.phparchiv.de/button2.gif" border="0" alt="The adventure php framework on phparchiv.de" /></a>
    <strong>http://www.phparchiv.de/Entwickler_Tools/</strong>
    <br />
    <br />
    <a href="http://www.phpclasses.org" target="_blank"><img src="http://files.phpclasses.org/graphics/elephpant_logo.gif" border="0" alt="The adventure php framework on phpclasses.org" /></a>
    <strong>http://www.phpclasses.org/browse/package/4262.html</strong>
    <br />
    <br />
    <a href="http://www.coolphpscripts.de" target="_blank"><img src="http://www.coolphpscripts.de/images/banner/cps5_88x31.gif" width="88" height="31" border="0" alt="The adventure php framework on Cool PHP Scripts"></a>
    <strong>http://www.coolphpscripts.de/details_1343.html</strong>
    <br />
    <br />
    <a href="http://www.freshmeat.net" target="_blank"><img src="http://media.adventure-php-framework.org/content/freshmeat_net.gif" border="0" alt="The adventure php framework on Freshmeat.net"></a>
    <strong>http://freshmeat.net/projects/apf</strong>
    <br />
    <br />
    <a href="http://sourceforge.net" target="_blank"><img src="http://media.adventure-php-framework.org/content/sourceforge_net.png" border="0" alt="The adventure php framework on sourceforge.net"></a>
    <strong>http://sourceforge.net/projects/adventurephpfra</strong>
    <br />
    <br />
    <a href="http://www.phpwelt.de" target="_blank"><img src=http://www.phpwelt.de/images/ads/button_powered_88_blau.gif border="0" alt="The adventure php framework on phpwelt.de" /></a>
    <strong>http://www.phpwelt.de/script_2828.php</strong>
    <br />
    <br />
  </p>
</html:template>