<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>

<html:template name="Content_de">
  <h3>Downloads</h3>
  <ul>
    <li><a href="./?Seite=008-Downloads#1.8_rel" title="Release Version 1.8 (stable)">DOWNLOAD Release 1.8 NOW!</a></li>
    <li><a href="./?Seite=008-Downloads#1.8" title="Neue Features im Release 1.8">Neue Features im Release 1.8</a></li>
    <li><a href="./?Seite=008-Downloads#1.8_doc" title="Online documentation">Online-Dokumentation</a></li>
    <li><a href="./?Seite=008-Downloads#1.8_doc" title="Offline documentation: html + zip, chm">Offline-Dokumentation: html + zip, chm</a></li>
    <li><a href="http://adventurephpfra.svn.sourceforge.net/viewvc/adventurephpfra/trunk/" title="Subversion-Repository" target="_blank">Subversion Repository</a></li>
  </ul>
</html:template>

<html:template name="Content_en">
  <h3>Downloads</h3>
  <ul>
    <li><a href="./?Page=008-Downloads#1.8_rel" title="Release version 1.87 (stable)">DOWNLOAD release 1.8 NOW!</a></li>
    <li><a href="./?Page=008-Downloads#1.8" title="New features in release 1.8">New features in release 1.8</a></li>
    <li><a href="./?Page=008-Downloads#1.8_doc" title="Online documentation">Online documentation</a></li>
    <li><a href="./?Page=008-Downloads#1.8_doc" title="Offline documentation: html + zip, chm">Offline documentation: html + zip, chm</a></li>
    <li><a href="http://adventurephpfra.svn.sourceforge.net/viewvc/adventurephpfra/trunk/" title="Subversion-Repository" target="_blank">Subversion repository</a></li>
  </ul>
</html:template>