<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_standard_controller" class="i_box_standard_controller" @>
<html:template name="Content_de">
  <p>
    <br />
    Hier sehen Sie eine Auswahl an Referenzen. Eine komplette &Uuml;bersicht findet sich unter
    <a href="./?Seite=041-Referenzen" title="Referenzen">Referenzen</a>:
    <br />
    <br />
    <br />
    <img src="./media/content/referenzen_streamadmin_klein.gif" border="0" alt="adventure-php-framework.org-Referenz: Streaming-Administration der Messe M&uuml;nchen GmbH" style="float: left; margin-right: 10px; margin-bottom: 10px;"/>
    In diesem
    <a href="http://streamadmin.nmm.de" title="Streaming-Administration der Messe M&uuml;nchen GmbH" target="_blank">Projekt</a>
    wird das Framework als Basis einer Backend-Applikation eingesetzt. Die Anwendung basiert komplett
    auf dem FrontController, der als zentrale Komponente f&uuml;r die Authentifizierung und die
    Generierung des Models der Applikation eingesetzt wird. F&uuml;r dieses Projekt wurde der Tag
    <strong>&lt;fcon:importdesign /&gt;</strong> entwickelt, damit auch in der Pr&auml;sentatonsschicht
    von Modelinformationen Gebrauch gemacht werden kann.
    <br />
    <br />
    <br />
    <img src="./media/content/referenzen_zierpflanzenberatung_klein.gif" border="0" alt="adventure-php-framework.org-Referenz: zierpflanzenberatung.de" style="float: left; margin-right: 10px; margin-bottom: 10px;" />
    Die Webseite
    <a href="http://www.zierpflanzenberatung.de" title="Zierpflanzenberatung" target="_blank">zierpflanzenberatung.de</a>
    ist eine sehr umfangreiche Webseite, die auf einem CMS-Backend
    basiert, das mit der Unterst&uuml;tzung des Entwicklers erstellt wurde. Das Backend bietet die
    M&ouml;glichkeit, die in der Seite eingebetteten Module (G&auml;stebuch, Kontaktformulare, ...)
    selbstst&auml;ndig zu verwalten und &Auml;nderungen an den Inhalten der Seiten vorzunehmen. Das
    Backend basiert dabei genau wie die Ausgabe-Funktion der Seite auf dem Framework.
    <br />
    <br />
    <br />
    <img src="./media/content/referenzen_easyflock_klein.gif" border="0" alt="adventure-php-framework.org-Referenz: easyflock.de" style="float: left; margin-right: 10px; margin-bottom: 10px;" />
    Die Webseite
    <a href="http://www.easyflock.de" title="EasyFLOCK" target="_blank">easyflock.de</a>
    basiert vollst&auml;ndig auf dem Framework und einem darauf aufgesetzten - vollst&auml;ndig
    selbst entwickelten - CMS-Backend. Als wichtigste Features werden Templating, dynamische Erzeugung
    von Inhalten per DocumentController und die Datenbank-Abstraktion genutzt. Die Wechselanzeige
    auf der linken Seite wurde dabei mit Hilfe von unterschiedlichen Templates gel&ouml;st, die
    nach einem Zufallsprinzip wechselnd angezeigt werden.
    <br />
    <br />
  </p>
</html:template>
<html:template name="Content_en">
  <p>
    <br />
    This slider presents a selection of references. The complete list can be seen on the german
    <a href="./?Seite=041-Referenzen" title="references">references</a> page:
    <br />
    <br />
    <br />
    <img src="./media/content/referenzen_streamadmin_klein.gif" border="0" alt="adventure-php-framework.org reference: Streaming administration of the munich trade fair center GmbH" style="float: left; margin-right: 10px; margin-bottom: 10px;"/>
    Within this
    <a href="http://streamadmin.nmm.de" title="Streaming administration of the munich trade fair center" target="_blank">project</a>
    the framework is used as a basis for the streaming administration backend. The application rests
    upon the front controller implementation of the framework and provides the central business
    services like authentication and model generation. As a feature request, the
    <strong>&lt;fcon:importdesign /&gt;</strong> tag was implemented for exactly this project. The
    tag enables the developer to revert to model information to build up the GUI.
    <br />
    <br />
    <br />
    <img src="./media/content/referenzen_zierpflanzenberatung_klein.gif" border="0" alt="adventure-php-framework.org reference: zierpflanzenberatung.de" style="float: left; margin-right: 10px; margin-bottom: 10px;" />
    The
    <a href="http://www.zierpflanzenberatung.de" title="Zierpflanzenberatung" target="_blank">zierpflanzenberatung.de</a>
    web page is a comprehensive webpage with public and internal areas. The page maintenance is done
    by an APF based CMS backend. This application includes page editing, module administration
    (guestbook, contact form, information databases, ...), statistics and user management. The
    backend application was completely developed by the web page administrators and is based on a
    MySQL database.
    <br />
    <br />
    <br />
    <img src="./media/content/referenzen_easyflock_klein.gif" border="0" alt="adventure-php-framework.org reference: easyflock.de" style="float: left; margin-right: 10px; margin-bottom: 10px;" />
    On
    <a href="http://www.easyflock.de" title="EasyFLOCK" target="_blank">easyflock.de</a>
    you can order meliorated clothing stuff. The web page and the small CMS backend is completely
    based on the APF's code base. The developers told us, that they intensively use templating,
    dynamic content creation via tags and document controller and the connection manage. Interestingly,
    the advertisement on the left hand side is built on several templates and one controller, that
    randomly displays one of the templates available.
    <br />
    <br />
  </p>
</html:template>