<h3>Downloads</h3>
<ul>
  <li><a href="./?Seite=008-Downloads#1.7-RC2_rel" title="Release Version 1.7-RC2 (RC)">Release Version 1.7-RC2 (RC)</a></li>
  <li><a href="./?Seite=008-Downloads#1.6_rel" title="Release Version 1.6 (stable)">Release Version 1.6 (stable)</a></li>
  <li><a href="./?Seite=008-Downloads#1.7-RC2_doc" title="Online-Dokumentation">Online-Dokumentation</a></li>
  <li><a href="./?Seite=008-Downloads#1.7-RC2_doc" title="Offline-Dokumentation: html + zip, chm">Offline-Dokumentation: html + zip, chm</a></li>
  <li><a href="http://adventurephpfra.svn.sourceforge.net/viewvc/adventurephpfra/trunk/" title="Subversion-Repository" target="_blank">Subversion-Repository</a></li>
</ul>