<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_latest_controller" class="i_box_latest_controller" @>
<h3>Latest Entries</h3>
<ul>
  <li>Forum:
    <p><html:placeholder name="Posts" /></p>
  </li>
  <li>Kommentare:
    <p><html:placeholder name="Comments" /></p>
  </li>
</ul>

<html:template name="PostsForum">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />" target="_blank"><template:placeholder name="LinkText" /></a>
</html:template>

<html:template name="PostsComments">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />"><template:placeholder name="LinkText" /></a>
</html:template>