<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::start" file="i_box_latest_controller" class="i_box_latest_controller" @>
<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring" />
<h3>Latest Entries</h3>
<ul>
  <li><html:getstring namespace="sites::apfdocupage::pres" config="language" entry="forum" />:
    <p><html:placeholder name="Posts" /></p>
  </li>
  <li><html:getstring namespace="sites::apfdocupage::pres" config="language" entry="comments" />:
    <p><html:placeholder name="Comments" /></p>
  </li>
</ul>

<html:template name="PostsForum">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />" target="_blank" linkrewrite="false"><template:placeholder name="LinkText" /></a>
</html:template>

<html:template name="PostsComments">
  <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Title" />"><template:placeholder name="LinkText" /></a>
</html:template>