<@controller namespace="sites::apf::pres::controller::quicknavi" class="searchbar_controller" @><%
%><core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring" /><%

%><div id="Sidebar-Search">
  <form method="post" action="<html:placeholder name="searchUrl" />">
      <div>
          <label for="Sidebar-Search-Field"><%
             %><html:getstring namespace="sites::apf::pres" config="labels.ini" entry="search.input.label" /><%
          %></label>
          <input type="text" id="Sidebar-Search-Field" name="search" />
          <input type="submit" value="Go" name="doSearch" />
      </div>
  </form>
</div>