<@controller namespace="sites::apf::pres::controller::quicknavi" class="socialnetworkbar_controller" @>
<div id="Sidebar-SocialNetworks">
  <span>Bookmark this Site!</span>
  <a href="http://delicious.com/save?url=<html:placeholder name="currentUrl" />" linkrewrite="false"><img src="http://media.adventure-php-framework.org/img/social/delicious.png" alt="Delicious" /></a>
  <a href="http://digg.com/submit?phase=2&amp;url=<html:placeholder name="currentUrl" />" linkrewrite="false"><img src="http://media.adventure-php-framework.org/img/social/digg.png" alt="Digg" /></a>
  <a href="http://www.stumbleupon.com/submit?url=<html:placeholder name="currentUrl" />" linkrewrite="false"><img src="http://media.adventure-php-framework.org/img/social/stumbleupon.png" alt="StumpleUpon" /></a>
  <a href="http://www.google.com/bookmarks/mark?op=add&amp;hl=de&amp;bkmk=<html:placeholder name="currentUrl" />" linkrewrite="false"><img src="http://media.adventure-php-framework.org/img/social/google.png" alt="Google" /></a>

  <div id="Sidebar-SocialNetworks-Twitter">
      <span>Follow us on Twitter!</span>
      <a href="http://twitter.com/AdventurePHP">@AdventurePHP</a>
  </div>
</div>