RewriteEngine on

####################################################################################################
# Eliminate www subdomain
#
RewriteCond %{HTTP_HOST} ^www [NC]
RewriteRule ^(.*)$ http://adventure-php-framework.org/$1 [R=301,L]

####################################################################################################
# English page' shortcut
#
RewriteCond %{REQUEST_URI} ^/en$ [NC]
RewriteRule .* /Page/001-Home [NC,L]

####################################################################################################
# RewriteRule for generic URL rewriting
#
# localhost rewrite rule to create site-map and index:
RewriteRule !((index|sitemap|setup_wizard)\.php|\.css|\.jpe?g|\.png|\.gif|\.zip|\.rar|\.ico|\.txt|sitemap\.xml|google0530241f73e9cc6c\.html|google5d5e6e05ed6af3ff\.html)$ /index.php?apf-rewritten-query=%{REQUEST_URI}&%{QUERY_STRING} [NC,L]
#RewriteRule !(index\.php|\.css|\.jpe?g|\.png|\.gif|\.zip|\.rar|\.ico|\.txt|sitemap\.xml|google0530241f73e9cc6c\.html|google5d5e6e05ed6af3ff\.html)$ /index.php?apf-rewritten-query=%{REQUEST_URI}&%{QUERY_STRING} [NC,L]