<core:addtaglib namespace="sites::apf::pres::taglib" class="int_taglib_link" prefix="int" name="link" />
<div id="Footer-Links">
   <ul id="Footer-Links1">
      <li><int:link pageid="123" /></li>
      <li><a href="http://wiki.adventure-php-framework.org/de/Roadmap">Roadmap</a></li>
      <li><int:link pageid="068" /></li>
      <li><int:link pageid="005" /></li>
      <li><int:link pageid="088"/></li>
      <li><int:link pageid="100"/></li>
      <li><int:link pageid="116"/></li>
      <li><int:link pageid="110"/></li>
      <li><int:link pageid="115" /></li>
      <li><a href="http://sourceforge.net/projects/adventurephpfra/">APF auf SourceForge.net</a></li>
   </ul>
   <ul id="Footer-Links2">
      <li><int:link pageid="015" /></li>
      <li><int:link pageid="034"/></li>
      <li><int:link pageid="121"/></li>
      <li><int:link pageid="122"/></li>
      <li><int:link pageid="075"/></li>
      <li><int:link pageid="076"/></li>
   </ul>
</div>
<div id="Footer-Legal">
   <p>Adventure PHP Framework (APF) is a product developed by the APF Developer Team. It's released under the GNU Lesser General Public License (LGPGL)<br />
      Commercial use is permitted.</p>
   <p><strong>Copyright © 2004 - 2012 Adventure PHP Framework</strong><br />
      All textual content on this site is protected by Copyright Law and may be used under the Terms of the GNU Free Documentation License (GNU FDL) See <int:link pageid="122" lang="en" /> for more information.</p>
</div>