<@controller
    class="APF\sites\apf\pres\controller\LanguageSwitchController"
@><%
%><div id="Langswitch">
   <ul>
      <li class="first"><%
         %><a href="<html:placeholder name="link_de" />" title="<html:placeholder name="name_de" />" class="<html:placeholder name="class_de" />">Deutsch (Deutschland)</a><%
      %></li>
      <li><%
         %><a href="<html:placeholder name="link_en" />" title="<html:placeholder name="name_en" />" class="<html:placeholder name="class_en" />">English (USA)</a><%
      %></li>
   </ul>
</div>