<@controller namespace="sites::apf::pres::controller" file="main_controller" class="main_controller" @><%
%><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title><html:placeholder name="Title" /> :: Adventure PHP Framework (APF)</title>

   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta http-equiv="expires" content="<html:placeholder name="Expires" />" />

   <base href="<html:placeholder name="URI" />" />

   <meta name="content-language" content="<html:placeholder name="Language" />" />
   <meta name="language" content="<html:placeholder name="Language" />" />
   <meta name="keywords" content="<html:placeholder name="Keywords" />" />
   <meta name="description" content="<html:placeholder name="Description" />" />
   <meta name="author" content="Dipl.-Ing. (FH) Christian Achatz" />
   <meta name="publisher" content="Dipl.-Ing. (FH) Christian Achatz" />
   <meta name="copyright" content="&copy; Dipl.-Ing. (FH) Christian Achatz" />
   <meta name="date" content="<html:placeholder name="Date" />" />
   <meta name="page-topic" content="<html:placeholder name="Title" />" />
   <meta name="email" content="christian.achatz@adventure-php-framework.org" />
   <meta name="robots" content="index,follow" />
   <meta name="revisit-after" content="7 days" />

   <link rel="author" title="<html:placeholder name="ImpressumTitle" />" href="<html:placeholder name="ImpressumLink" />" />
   <link rel="search" title="<html:placeholder name="SucheTitle" />" href="<html:placeholder name="SucheLink" />" />
   <link rel="copyright" title="<html:placeholder name="ImpressumTitle" />" href="<html:placeholder name="ImpressumLink" />" />

   <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
   <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
   <link rel="apple-itouch-icon" href="/apple-touch-icon.png" type="image/png" />

   <link rel="stylesheet" type="text/css" href="http://media.adventure-php-framework.org/css/apf.css" />
   <!--[if lte IE 7]>
       <link rel="stylesheet" type="text/css" href="http://media.adventure-php-framework.org/css/lte-ie7.css" />
   <![endif]-->
   <!--[if IE 7]>
       <link rel="stylesheet" type="text/css" href="http://media.adventure-php-framework.org/css/ie7.css" />
   <![endif]-->
   <link rel="stylesheet" type="text/css" media="print" href="http://media.adventure-php-framework.org/css/print.css" />

   <script type="text/javascript" src="http://media.adventure-php-framework.org/js/apf.js"></script>
   <script type="text/javascript">
      $(document).ready(function(){<%
         %>sh_highlightDocument();<%
      %>});
   </script>
   
</head>
<body>
    <div id="Wrapper">
        <div id="Header"><%
            %><core:addtaglib namespace="sites::apf::pres::taglib" prefix="int" class="link" />
            <h1><int:link pageid="001" title="Adventure PHP Framework"><img src="http://media.adventure-php-framework.org/img/apf-logo.png" alt="Adventure PHP Framework" width="600" height="130" /></int:link></h1>

            <div id="LanguageBox">
               <core:importdesign namespace="sites::apf::pres::templates" template="langswitch" />    
            </div>
        </div>

        <div id="Navigation">
           <core:importdesign namespace="sites::apf::pres::templates" template="topnavi" />
        </div>

        <div id="ContentWrapper"<html:placeholder name="content-wrapper-class" />>
            <div id="Content">
               <core:importdesign namespace="sites::apf::pres::templates" template="breadcrumb" />
               <core:importdesign namespace="sites::apf::pres::templates" template="content" />
            </div>
        </div>

        <core:addtaglib namespace="sites::apf::pres::taglib" prefix="sidebar" class="importdesign" /><%
        %><sidebar:importdesign />

        <div id="Footer">
           <core:importdesign namespace="sites::apf::pres::templates" template="footer" />
           <img src="<html:placeholder name="TrackingPixelUrl" />" alt="" width="1" height="1"/>
        </div>
    </div>
</body>
</html>