<div id="SidebarWrapper">
   <div id="Sidebar">
      <core:addtaglib class="APF\sites\apf\pres\taglib\QuickNaviContentTag" prefix="html" name="quicknavi" />
      <html:quicknavi />
      <core:importdesign namespace="APF\sites\apf\pres\templates\quicknavi" template="plusone" />
      <core:importdesign namespace="APF\sites\apf\pres\templates\quicknavi" template="searchbar" />
      <core:importdesign namespace="APF\sites\apf\pres\templates\quicknavi" template="socialnetworkbar" />
      <core:importdesign namespace="APF\sites\apf\pres\templates\quicknavi" template="phpstorm" />
   </div>
</div>