<@controller namespace="sites::apf::pres::controller" class="search_controller" @><%
%><core:addtaglib namespace="tools::form::taglib" class="html_taglib_form" prefix="html" name="form" /><%
%><html:getstring namespace="sites::apf::biz" config="language" entry="Text" /><%

%><div id="ContentSearchForm">
   <html:form name="SearchV2" method="post">
      <fieldset>
         <label for="SearchField"><form:getstring namespace="sites::apf::biz" config="language" entry="Title" /></label>
         <form:text name="search" id="SearchField"/><form:button name="Search" value="GO"/><%
         %><form:addvalidator
            class="TextLengthValidator"
            button="Search"
            control="search"
         />
      </fieldset>
   </html:form>
</div>
<div id="ContentSearchResult">
   <html:placeholder name="Result" />
</div><%

%><html:template name="Result"><%
  %><div>
     <h3><%
        %><a href="<template:placeholder name="PermaLink" />" title="<template:placeholder name="Title" />"><%
           %><template:placeholder name="Title" /><%
        %></a><%
     %></h3>
     <dl>
        <dt><template:getstring namespace="sites::apf::biz" config="language" entry="Result.Lang" /></dt>
        <dd><template:placeholder name="Language" /></dd>

        <dt><template:getstring namespace="sites::apf::biz" config="language" entry="Result.Mod" /></dt>
        <dd><template:placeholder name="LastMod" /></dd>

        <dt><template:getstring namespace="sites::apf::biz" config="language" entry="Result.Perma" /></dt>
        <dd class="permalink"><template:placeholder name="PermaLink" /></dd>
     </dl>
  </div>
</html:template><%

%><html:template name="NoSearchResult_de"><%
   %><template:addtaglib namespace="sites::apf::pres::taglib" class="int_taglib_link" prefix="int" name="link" /><%
   %><h3>Hinweis</h3>
   Mit dem eingegebenen Suchwort konnte kein Treffer erziehlt werden. Bitte versuchen Sie es mit einem
   anderen Suchwort! Sollten Sie dann immer noch keinen Treffer erziehlt haben, hinterlassen Sie bitte
   eine Nachricht &uuml;ber das <int:link pageid="034">Kontakt-Formular</int:link> oder erstellen
   einen Post im
   <a class="forum" href="http://forum.adventure-php-framework.org/de/" title="Forum">Forum</a>.
</html:template><%

%><html:template name="NoSearchResult_en"><%
   %><template:addtaglib namespace="sites::apf::pres::taglib" class="int_taglib_link" prefix="int" name="link" /><%
   %><h3>Note</h3>
   With the given search word no hit could be found. Please try with another search string! If you
   still achieved no hit, please leave a message in the <int:link pageid="034">Contact form</int:link>
   or create a new thread in the
   <a class="forum" href="http://forum.adventure-php-framework.org/en/" title="forum">forum</a>.
</html:template>