<html:template name="Documentation_new">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
   <h4><template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.changeset.doc" /></h4>
   <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.changeset.text.prefix" />
   <template:placeholder name="HistoryLink" />
   <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.changeset.text.suffix" />

   <h4><template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.current.doc" /></h4>
   <ul>
      <li>
         <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/<template:placeholder name="DocsFolder" />/html/index.html">
            <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.api.online" />
         </a>
      </li>
   </ul>

   <h4><template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.api.offline" /></h4>
   <ul>
      <template:placeholder name="OfflineDoku" />
   </ul>
</html:template><%

%><html:template name="Documentation">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
   <h4><template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.changeset.doc" /></h4>
   <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.changeset.text.prefix" />
   <template:placeholder name="HistoryLink" />
   <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.changeset.text.suffix" />

   <h4><template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.current.doc" /></h4>
   <ul>
      <li>
         <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/core/index.html">
            <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.current.doc.core" />
         </a>
      </li>
      <li>
         <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/tools/index.html">
            <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.current.doc.tools" />
         </a>
      </li>
      <li>
         <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/modules/index.html">
            <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.current.doc.modules" />
         </a>
      </li>
   </ul>

   <h4><template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.api.offline" /></h4>
   <ul>
      <template:placeholder name="OfflineDoku" />
   </ul>
</html:template><%

%><html:template name="OfflineDoku">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/<template:placeholder name="DokuFile" />">
            <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.build.text.prefix" />
            <template:placeholder name="DokuType" />
            <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.build.text.suffix" />
            (<template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.build.date" />
            <template:placeholder name="BuildDate" />,
            <template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.build.type" />
            <template:placeholder name="LibType" />)
          </a>
        </li>
</html:template><%

%><html:template name="OfflineDoku_110">
   <template:addtaglib namespace="tools::html::taglib" prefix="template" class="getstring" />
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/docs/<template:placeholder name="DokuFile" />">
            <template:placeholder name="DokuFile" /> 
            (<template:getstring namespace="sites::apf::pres" config="labels" entry="downloads.build.date" />
            <template:placeholder name="BuildDate" />)
          </a>
        </li>
</html:template>