<@controller namespace="sites::apfdocupage::pres::documentcontroller::global" file="smallmenu_controller" class="smallmenu_controller" @>
<html:template name="SmallMenu_de">
  <a href="./?Seite=034-Kontaktformular" title="Kontakt">Kontakt</a> | <a href="./?Seite=015-Impressum" title="Impressum">Impressum</a>
</html:template>
<html:template name="SmallMenu_en">
  <a href="./?Page=034-Contact-form" title="Contact">Contact</a> | <a href="./?Page=015-Impress" title="Impress">Impress</a>
</html:template>