<html:template name="ReleaseHead">
   <h2 id="Release-<template:placeholder name="ReleaseNumber" />">
      <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.version" />
      <template:placeholder name="ReleaseNumber" />
   </h2>
  
   <h3 id="Release-<template:placeholder name="ReleaseNumber" />_rel"><template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.packages" /></h3>
   <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.files.text" />
   <table>
      <thead>
         <tr>
            <th><template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.filename" /></th>
            <th><template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.date" /></th>
            <th><template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.filesize" /></th>
            <th><template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.filetype" /></th>
         </tr>
      </thead>
      <tbody>
         <template:placeholder name="ReleaseFiles" />
      </tbody>
   </table>

   <p>
      <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.files.detail.description" />
   </p>
   <ul>
      <li>
         <strong>apf-calc-example-*</strong>:
         <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.calc.description" />
      </li>
      <li>
         <strong>apf-codepack-*</strong>:
         <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.code-pack.description" />
      </li>
      <li>
         <strong>apf-configpack-*</strong>:
         <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.config-pack.description" />
      </li>
      <li>
         <strong>apf-demopack-*</strong>:
         <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.demo-pack.description" />
      </li>
      <li>
         <strong>apf-modules-example-*</strong>:
         <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.modules.description" />
      </li>
      <li>
         <strong>apf-vbc-example-*</strong>:
         <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.vbc.description" />
      </li>
   </ul>
  
   <h3 id="Release-<template:placeholder name="ReleaseNumber" />_doc"><template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.doc" /></h3>
   <template:getstring namespace="APF\sites\apf\pres" config="labels.ini" entry="downloads.doc.text" />
   <template:placeholder name="Documentation" />
</html:template><%

%><html:template name="ReleaseFile">
    <tr class="<template:placeholder name="Class" />">
       <td>
          <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Name" />"><template:placeholder name="Name" /></a>
       </td>
       <td>
          <template:placeholder name="Date" />
       </td>
       <td>
          <template:placeholder name="Size" /> kB
       </td>
       <td>
          <template:placeholder name="Type" />
       </td>
    </tr>
</html:template>