<html:template name="Documentation">
   <h4><template:getstring namespace="APF\sites\apf\pres" config="labels" entry="downloads.changeset.doc" /></h4>
   <template:getstring namespace="APF\sites\apf\pres" config="labels" entry="downloads.changeset.text.prefix" />
   <template:placeholder name="HistoryLink" />
   <template:getstring namespace="APF\sites\apf\pres" config="labels" entry="downloads.changeset.text.suffix" />

   <h4><template:getstring namespace="APF\sites\apf\pres" config="labels" entry="downloads.current.doc" /></h4>
   <ul>
      <li>
         <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/<template:placeholder name="DocsFolder" />/html/index.html">
            <template:getstring namespace="APF\sites\apf\pres" config="labels" entry="downloads.api.online" />
         </a>
      </li>
   </ul>

   <h4><template:getstring namespace="APF\sites\apf\pres" config="labels" entry="downloads.api.offline" /></h4>
   <ul>
      <template:placeholder name="OfflineDoku" />
   </ul>
</html:template><%

%><html:template name="OfflineDoku">
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/docs/<template:placeholder name="DokuFileFull" />">
            <template:placeholder name="DokuFile" /> 
            (<template:getstring namespace="APF\sites\apf\pres" config="labels" entry="downloads.build.date" />
            <template:placeholder name="BuildDate" />)
          </a>
        </li>
</html:template>