<core:addtaglib namespace="tools::html::taglib" prefix="html" class="getstring" />
<div style="text-align: right;">
  <core:addtaglib namespace="sites::apfdocupage::pres::taglib" prefix="apf" class="socialbookmark" />
  &nbsp;<apf:socialbookmark width="16" height="16" />
  <img src="./media/content/bookmark_print_delimiter.gif" border="0" align="absmiddle" alt="<html:getstring namespace="sites::apfdocupage::pres" config="language" entry="alt" />" />
  <a href="javascript:window.print()" title="<html:getstring namespace="sites::apfdocupage::pres" config="language" entry="print" />"><img src="./media/content/print.gif" border="0" alt="<html:getstring namespace="sites::apfdocupage::pres" config="language" entry="print" />" align="absmiddle" /></a>
</div>