<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::content" file="form_antispam_example_controller" class="form_antispam_example_controller" @>

<core:addtaglib namespace="tools::form::taglib" prefix="html" class="form" />
<html:form name="AntiSpamExample_de" method="post">
  <form:addtaglib namespace="sites::apfdocupage::pres::taglib" prefix="form" class="antispam" />
  Das Formular ist <strong><form:placeholder name="ValidOrInvalid" /></strong>!
  <br />
  <br />
  <form:button name="AntiSpamExampleButton" value="Absenden" style="border: 1px solid black; background-color: #777BB4;" />
  <form:antispam minfilltime="10" />
</html:form>

<html:form name="AntiSpamExample_en" method="post">
  <form:addtaglib namespace="sites::apfdocupage::pres::taglib" prefix="form" class="antispam" />
  This form is <strong><form:placeholder name="ValidOrInvalid" /></strong>!
  <br />
  <br />
  <form:button name="AntiSpamExampleButton" value="Send" style="border: 1px solid black; background-color: #777BB4;" />
  <form:antispam minfilltime="10" />
</html:form>