<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::content" class="releases_controller" file="releases_controller" @>
<html:placeholder name="Content" />

<html:template name="NoContent_de">
  <div style="border: 1px solid #777BB4; background-color: #eeeeee; padding: 10px;">
    <strong>Hinweis:</strong> Die Release-Packages sind in der Offline-Version nicht verf&uuml;gbar.
    Bitte laden Sie sich diese unter <a href="http://www.adventure-php-framework.org/Seite/Downloads" title="http://www.adventure-php-framework.org/Seite/Downloads" target="_blank">http://www.adventure-php-framework.org/Seite/Downloads</a>
    herunter.
  </div>
  <br />
  <br />
</html:template>

<html:template name="NoContent_en">
  <div style="border: 1px solid #777BB4; background-color: #eeeeee; padding: 10px;">
    <strong>Note:</strong> The release packages are not avaliable in the offline version of the
    documentation page. Please download them under
    <a href="http://www.adventure-php-framework.org/Page/Downloads/~/sites_demosite_biz-action/setLanguage/lang/en" title="http://www.adventure-php-framework.org/Page/Downloads" target="_blank">http://www.adventure-php-framework.org/Page/Downloads</a>.
  </div>
  <br />
  <br />
</html:template>

<html:template name="ReleaseHead_de">
  <a name="<template:placeholder name="ReleaseNumber" />"></a>
  <div style="background-color: #cccccc; padding: 3px; margin-right: 5px;">
    &nbsp;<font style="font-size: 20px; font-wight: bold;">Version <template:placeholder name="ReleaseNumber" /></font>
  </div>
  <br />
  <template:placeholder name="ReleaseDescription" />
  <br />
  <br />
  <a name="<template:placeholder name="ReleaseNumber" />_doc"></a>
  <font style="font-size: 22px; font-weight: bold;">Dokumentation</font>
  <br />
  <br />
  Folgende Dokumentationen sind zu diesem Release vorhanden:
  <br />
  <br />
  <template:placeholder name="Documentation" />
  <br />
  <br />
  <a name="<template:placeholder name="ReleaseNumber" />_svn"></a>
  <font style="font-size: 22px; font-weight: bold;">Subversion-Repository</font>
  <br />
  <br />
  Die Dateien zu diesem Release sind unter der folgenden URLs im SVN-Repository verf&uuml;gbar:
  <br />
  <br />
  <strong>SVN-Web-Ansicht:</strong> <a href="<template:placeholder name="SVNWebURL" />" title="SVN-Web-Ansicht" target="_blank"><template:placeholder name="SVNWebURL" /></a>
  <br />
  <strong>SVN-URL:</strong> <template:placeholder name="SVNURL" />
  <br />
  <br />
  <br />
  <a name="<template:placeholder name="ReleaseNumber" />_rel"></a>
  <font style="font-size: 22px; font-weight: bold;">Release-Packages</font>
  <br />
  <br />
  <table style="width: 100%; font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding: 3px;" cellpadding="0" cellspacing="0">
    <tr style="background-color: #dddddd;">
       <td style="width: 40%;">
          Datei-Name
       </td>
       <td style="width: 10%;">
          Datum
       </td>
       <td style="width: 10%;">
          Datei-Gr&ouml;&szlig;e
       </td>
       <td style="width: 10%;">
          Datei-Typ
       </td>
    </tr>
    <template:placeholder name="ReleaseFiles" />
  </table>
  <br />
  <br />
  <br />
</html:template>

<html:template name="ReleaseHead_en">
  <a name="<template:placeholder name="ReleaseNumber" />"></a>
  <div style="background-color: #cccccc; padding: 3px; margin-right: 5px;">
    &nbsp;<font style="font-size: 20px; font-wight: bold;">Revision <template:placeholder name="ReleaseNumber" /></font>
  </div>
  <br />
  <template:placeholder name="ReleaseDescription" />
  <br />
  <br />
  <a name="<template:placeholder name="ReleaseNumber" />_doc"></a>
  <font style="font-size: 22px; font-weight: bold;">Documentation</font>
  <br />
  <br />
  The following documentation files are available for this release:
  <br />
  <br />
  <template:placeholder name="Documentation" />
  <br />
  <br />
  <a name="<template:placeholder name="ReleaseNumber" />_svn"></a>
  <font style="font-size: 22px; font-weight: bold;">Subversion repository</font>
  <br />
  <br />
  The files included in this release are also available in SVN. To check out the current release,
  please refer to the following URLs:
  <br />
  <br />
  <strong>SVN web view:</strong> <a href="<template:placeholder name="SVNWebURL" />" title="SVN web view" target="_blank"><template:placeholder name="SVNWebURL" /></a>
  <br />
  <strong>SVN url:</strong> <template:placeholder name="SVNURL" />
  <br />
  <br />
  <br />
  <a name="<template:placeholder name="ReleaseNumber" />_rel"></a>
  <font style="font-size: 22px; font-weight: bold;">Release packages</font>
  <br />
  <br />
  <table style="width: 100%; font-size: 12px; font-family: Arial, Helvetica, sans-serif; padding: 3px;" cellpadding="0" cellspacing="0">
    <tr style="background-color: #dddddd;">
       <td style="width: 40%;">
          File name
       </td>
       <td style="width: 10%;">
          Date
       </td>
       <td style="width: 10%;">
          File size
       </td>
       <td style="width: 10%;">
          File type
       </td>
    </tr>
    <template:placeholder name="ReleaseFiles" />
  </table>
  <br />
  <br />
  <br />
</html:template>

<html:template name="ReleaseFile">
    <tr>
       <td style="width: 40%; border-bottom: 1px solid #dddddd;">
          <a href="<template:placeholder name="Link" />" title="<template:placeholder name="Name" />" target="_blank"><template:placeholder name="Name" /></a>
       </td>
       <td style="width: 10%; border-bottom: 1px solid #dddddd;">
          <template:placeholder name="Date" />
       </td>
       <td style="width: 10%; border-bottom: 1px solid #dddddd;">
          <template:placeholder name="Size" /> kB
       </td>
       <td style="width: 10%; border-bottom: 1px solid #dddddd;">
          <template:placeholder name="Type" />
       </td>
    </tr>
</html:template>

<html:template name="ReleaseDescriptionPlaceHolder_de">
  Keine Release-Beschreibung vorhanden.
</html:template>

<html:template name="ReleaseDescriptionPlaceHolder_en">
  No release description is avaliable.
</html:template>

<html:template name="Documentation_de">
  <ul>
    <li>
      <strong>Online-Dokumentation:</strong> <em>(Aktuelles Release)</em>
      <ul>
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/core/index.html" target="_blank">
            Online-API-Dokumentation f&uuml;r die Core-Libraries (html)
          </a>
        </li>
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/tools/index.html" target="_blank">
            Online-API-Dokumentation f&uuml;r die Tools-Libraries (html)
          </a>
        </li>
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/modules/index.html" target="_blank">
            Online-API-Dokumentation f&uuml;r die Modules-Libraries (html)
          </a>
        </li>
      </ul>
    </li>
    <li>
      <strong>Offline-Dokumentation:</strong>
      <ul>
        <template:placeholder name="OfflineDoku" />
      </ul>
    </li>
  </ul>
</html:template>

<html:template name="Documentation_en">
  <ul>
    <li>
      <strong>Online documentation:</strong> <em>(current release)</em>
      <ul>
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/core/index.html" target="_blank">
            Online API documentation for the core libraries (html)
          </a>
        </li>
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/tools/index.html" target="_blank">
            Online API documentation for the tools libraries (html)
          </a>
        </li>
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/html/modules/index.html" target="_blank">
            Online API documentation for the modules libraries (html)
          </a>
        </li>
      </ul>
    </li>
    <li>
      <strong>Offline documentation:</strong>
      <ul>
        <template:placeholder name="OfflineDoku" />
      </ul>
    </li>
  </ul>
</html:template>

<html:template name="OfflineDoku_de">
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/<template:placeholder name="DokuFile" />">
            Offline-API-Dokumentation f&uuml;r die <template:placeholder name="DokuType" />-Libraries (Build-Datum: <template:placeholder name="BuildDate" />, Typ: <template:placeholder name="LibType" />)
          </a>
        </li>
</html:template>

<html:template name="OfflineDoku_en">
        <li>
          <a href="<template:placeholder name="ReleasesBaseURL" />/<template:placeholder name="ReleaseVersion" />/doku/<template:placeholder name="DokuFile" />">
            Offline API documentation for the <template:placeholder name="DokuType" /> libraries (Build date: <template:placeholder name="BuildDate" />, type: <template:placeholder name="LibType" />)
            <template:placeholder name="Description" />
          </a>
        </li>
</html:template>