<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::content" file="releases_quicknavi_controller" class="releases_quicknavi_controller" @>
<ol>
  <html:placeholder name="Releases" />
</ol>
<html:template name="Release_de">
  <li><a href="#<template:placeholder name="ReleaseName" />" title=" Release <template:placeholder name="ReleaseName" />"><template:placeholder name="ReleaseName" /></a></li>
</html:template>
<html:template name="Release_en">
 <li><a href="#<template:placeholder name="ReleaseName" />" title=" Revision <template:placeholder name="ReleaseName" />"><template:placeholder name="ReleaseName" /></a></li>
</html:template>