<@controller namespace="sites::apfdocupage::pres::documentcontroller::perspectives::content" file="releases_quicknavi_controller" class="releases_quicknavi_controller" @>
<ol>
  <html:placeholder name="Releases" />
</ol>
<html:template name="Release_de">
  <li>
    <a href="#<template:placeholder name="ReleaseName" />" title="Release <template:placeholder name="ReleaseName" />"><template:placeholder name="ReleaseName" /></a>
    <ol>
      <li><a href="#<template:placeholder name="ReleaseName" />" title="Changelog zur Version <template:placeholder name="ReleaseName" />">Changelog</a></li>
      <li><a href="#<template:placeholder name="ReleaseName" />_doc" title="Dokumentation zur Version <template:placeholder name="ReleaseName" />">Dokumentation</a></li>
      <li><a href="#<template:placeholder name="ReleaseName" />_svn" title="Subversion-Tag zur Version <template:placeholder name="ReleaseName" />">Subversion-Tag</a></li>
      <li><a href="#<template:placeholder name="ReleaseName" />_rel" title="Downloads zur Version <template:placeholder name="ReleaseName" />">Downloads</a></li>
    </ol>
  </li>
</html:template>
<html:template name="Release_en">
  <li>
    <a href="#<template:placeholder name="ReleaseName" />" title=" Revision <template:placeholder name="ReleaseName" />"><template:placeholder name="ReleaseName" /></a>
    <ol>
      <li><a href="#<template:placeholder name="ReleaseName" />" title="Changelog for revision <template:placeholder name="ReleaseName" />">Changelog</a></li>
      <li><a href="#<template:placeholder name="ReleaseName" />_doc" title="Documentation for revision <template:placeholder name="ReleaseName" />">Documentation</a></li>
      <li><a href="#<template:placeholder name="ReleaseName" />_svn" title="Subversion tag for revision <template:placeholder name="ReleaseName" />">Subversion tag</a></li>
      <li><a href="#<template:placeholder name="ReleaseName" />_rel" title="Downloads for revision <template:placeholder name="ReleaseName" />">Downloads</a></li>
    </ol>
 </li>
</html:template>